<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick & Morty Episodes
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-list-header>
      Episodes
    </ion-list-header>

    <ion-item *ngFor="let episode of episodes" [routerLink]="['/episode-details', episode.id]">

      <ion-label>
        
        <h2>{{ episode.name }}</h2>
        <h3>{{ episode.episode }}</h3>
        <p>{{ episode.created }}</p>

      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>