<ion-header>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rick & Morty App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href='/user-list'>
      <ion-label >Characters</ion-label>
        <ion-icon name="man"></ion-icon>
      </ion-item>
      
      <ion-item href='/episode-list'>
        <ion-label>Episodes</ion-label>
        <ion-icon name="film"></ion-icon>
      </ion-item>
      
    <ion-item href='/location-list'>
      <ion-label>Locations</ion-label>
      <ion-icon name="navigate"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
